.box {
    background-color: green;
    width: 100px;
    height: 100px;
    margin: 100px;
    animation: animTwo 5s ease-out 1s 3;
}

@keyframes animTwo {
  25% {
    background-color: red;
    transform: scale(1.5) rotate(90deg);
    margin-left: 400px;
  }
  50% {
    background-color: yellow;
    transform: scale(1);
    margin-top: 400px;
    border-radius: 100%;
  } 
  75% {
    background-color: blue;
    margin-left: 100px;
    transform: scale(0.5);
  }
  100% {
    background-color: green;
    border-radius: 0;
    margin-top: 100px;
    transform: scale(1) rotate(0);
  } 
}
