#contact-form {
    border: 1px solid var(--border-1);
    padding: 3rem;
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    margin-inline: 1rem;
    min-width: 500px;
}

@media only screen and (max-width: 900px) {
    #contact-form {
        border: 1px solid var(--border-1);
        padding: 1rem;
        margin: auto;
        border-radius: 5px;
        width: 100%;
        min-width: 0px;
    }
}
